@import "./extends";

.about__ {
  &close {
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50rem;
    font-weight: 300;
    text-align: center;
    line-height: 70px;
    width: 70px;
    background-color: white;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
  &wrap {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-column: 2/-2;
    background-color: white;
    display: flex;
    height: auto;
  }
  &img-wrap {
    height: 100%;
    max-height: 70vh;
    width: 50%;
    grid-column: 1 / span 6;
    position: relative;
  }
  &img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &description {
    width: 50%;
    padding: 40px;
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }
  &description-para {
    margin-bottom: 0;
  }

  &descriprion-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & span {
      font-size: 20px;
    }
  }
  &price {
    font-weight: bold;
    font-size: 20rem;
  }
  &ingredients {
    margin-left: -15px;

    border: 1px solid black;
    padding: 15px;
    font-size: 14px;
  }
  &size {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: -20px;
    background-color: rgb(255, 240, 247);
    border: 1px solid black;
    font-size: 12rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  /*@@@@@@@@@@@@@@@@@@@@@ BREACK POINT VIEW @@@@@@@@@@@@@@@*/

  @media (max-width: 1100px) {
    &wrap {
      grid-column: 1 / -1;
    }
  }
  @media (max-width: 854px) {
    &wrap {
      grid-column: 2/-2;
      flex-direction: column;
    }

    &img-wrap {
      height: 100%;
      width: 100%;
    }
    &description {
      width: 100%;
      padding-right: 30px;
      padding-left: 20px;
    }
    &title-description-wrap {
      margin-bottom: 2vw;
    }
    &ingredients {
      margin-bottom: 3vw;
      margin-left: 0;
      border: 1px solid black;
      padding: 15px;
      font-size: 14px;
    }

    &size {
      right: auto;
      left: 20px;
    }
    &wrap {
      margin-top: 80px;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 670px) {
    &wrap {
      grid-column: 1/-1;
    }

    &wrap {
      margin-top: 40px;
      margin-bottom: 0px;
    }
    @media (max-width: 300px) {
      &descriprion-bottom {
        flex-direction: column;
        button {
          width: 100%;
        }
      }
    }
  }
}
