@import "./extends";

.ads {
  font-size: 0;
  @extend %grid;
  &__wrap {
    grid-column: 1/ -1;
    position: relative;
  }
  /*-------------------BUTTON--------------------------*/
  &__left,
  &__right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    top: 35%;
  }

  &__left {
    left: 0px;
  }
  &__right {
    right: 0px;
  }

  /*-------------------::pseudo button--------------------------*/

  &__right:hover,
  &__left:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 20px;
  }
  &__right:active,
  &__left:active {
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: 20px;
  }

  /*----------------------center btn------------*/

  &__centerbtn {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 630px;
    &-1,
    &-2,
    &-3 {
      width: 60px;
      height: 10px;
      margin-right: 2px;
      border: 1px solid black;
      border-radius: 0%;

      &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.5);
        // border: 2px solid black;
      }
      &:active {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
      &_clicked {
        background-color: #000000;
        width: 50px;
        &:hover {
          background-color: #000000;
        }
      }
    }

    // &-2_clicked {
    //   background-color: #000000;
    // }
    // &-3_clicked {
    //   background-color: #000000;
    // }
  }

  /*-------------------BANER--------------------------*/
  &__baner {
    width: 100%;
  }
  /*-------------------ARROW--------------------------*/

  &__left-arrow,
  &__right-arrow {
    position: relative;
    width: 60%;
    height: 60%;
    border-right: none;
    border-bottom: none;
    border-left: 2px solid black;
    border-top: 2px solid black;
  }
  &__left-arrow {
    left: 20px;
    rotate: -45deg;
  }
  &__right-arrow {
    right: 20px;
    rotate: 135deg;
  }
}
