@import "./extends";

p {
  line-height: 1.5;
}

/*-------------------Newdishes-wrapper---------------------------*/
.newdishes {
  grid-column: 2/-2;
  display: flex;
  column-gap: 2vw;
  margin-top: 5vw;
  margin-bottom: 5vw;

  &__1blockwrap {
    flex: 1;
  }
  &__2blockwrap {
    flex: 1;
  }
}

/*-------------------Card---------------------------*/

.card {
  break-inside: avoid;
  display: inline-block;
  height: inherit;
  min-width: 0;
  min-height: 0;

  &__caption-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  & figcaption {
    width: 80%;
    overflow: hidden;
  }
  &__caption {
    font-size: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    height: 22rem;
  }
  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__img-wrap {
    position: relative;
    width: inherit;
    height: inherit;
    font-size: 0;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*------------------------------Add button----------------*/
  &__addbtn {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 35px;
    height: 35px;
    border: none;

    background-color: orange;
    font-size: 40px;
    font-weight: 200;
    line-height: 35px;
    &_added {
      background-color: rgb(0, 0, 0);
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      color: white;
    }

    &:active {
      background-color: black;
      color: white;
    }
  }
}

/*@@@@@@@@@@@@@@@@@@@@@ BREACK POINT VIEW @@@@@@@@@@@@@@@*/
/* hover for desctop */
@media (min-width: 1200px) {
  .card__addbtn:hover .card__add-or-check_check {
    font-size: 10px;
  }
  .card__addbtn:hover .card__add-or-check {
    font-size: 30px;
  }
}

/*-------------------Newdishes-wrapper---------------------------*/
.newdishes {
  @media (min-width: 1600px) {
    grid-column: 3/-3;
  }
  @media (max-width: 940px) {
    columns: 43.81vw;
    column-fill: balance;
    display: inline-block;
    grid-column: 1/-1;
    .card {
      max-width: 43.81vw;
    }
  }
  @media (max-width: 812px) {
    &__1blockwrap {
      break-after: column;
      .newdishes__para,
      h2 {
        column-span: all;
      }
      h2 {
        text-align: center;
      }
    }
  }
  @media (max-width: 450px) {
    &__1blockwrap,
    &__2blockwrap {
      display: flex;
      flex-direction: column;
    }
    columns: unset;
    display: inline-block;
    .card {
      max-width: 100%;
    }
    &__1blockwrap {
      .newdishes__para {
        display: none;
      }
    }
    &__2blockwrap {
      margin-top: 20px;
    }
  }
}
