nav {
  display: contents;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
div {
  user-select: none;
}

html {
  font-size: 1px;
  overflow-y: scroll;
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.flex0 {
  flex: 0;
}
a {
  text-decoration: none;
  display: contents;
  color: black;
}
.grid {
  width: 90%;
  max-width: 1393px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 6.03%);
  column-gap: 2.5%;
  // row-gap: 5%;
  justify-content: center;
}
.grid-column-span-all {
  grid-column: 1/-1;
}
.padding {
  width: 100%;
  padding: 0 10px;
}
p,
li {
  font-size: 16rem;
}
h2 {
  font-family: Fjalla One;
  margin-bottom: 20rem;
  margin-top: 40rem;
  font-size: 35rem;
}

h2 + p {
  margin-bottom: 45rem;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.absolute-right-0 {
  position: absolute;
  right: 0;
}
.absolute-left-0 {
  position: absolute;
  left: 0;
}

.btn {
  width: 180px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20rem;

  &:active {
    background-color: orange;
    color: black;
  }
  /* hover for desctop */
  @media (min-width: 1200px) {
    &:hover {
      background-color: orange;
      color: black;
    }
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
    color: rgb(226, 226, 226);
    /* hover for desctop */
    @media (min-width: 1200px) {
      &:hover {
        color: rgb(226, 226, 226);
      }
    }
  }
}
.btn_about_added {
  /* hover for desctop */
  @media (min-width: 1200px) {
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
/*-------------- BCG COLOR ---------------------------------*/
.color-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  // width: 100%;
  min-height: 100%;
  flex: 1;
  justify-content: center;
}

.bcg-pink {
  background-color: rgb(255, 240, 247);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.bcg-black {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.bcg-orange {
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

/*--------FONT---------------*/
p,
li {
  @media (max-width: 1054px) {
    font-size: 15rem;
  }
  @media (max-width: 974px) {
    font-size: 14rem;
  }
  @media (max-width: 328px) {
    font-size: 12rem;
  }
}

h2 {
  @media (max-width: 1418px) {
    font-size: 30rem;
  }
  @media (max-width: 974px) {
    font-size: 25rem;
  }
}

/*------  scroll to top btn ---------------------------*/

.scroll-top {
  grid-column: 1 /-1;
  justify-self: end;
  position: relative;

  user-select: none;

  img {
    pointer-events: initial;
    cursor: pointer;
    padding: 30px;
    margin-right: -30px;
    /* hover for desctop */
    @media (min-width: 1200px) {
      &:hover {
        margin-bottom: 10px;
      }
    }
  }

  &__wrap {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    bottom: 0px;
    right: 0;
    z-index: 3000;
  }
}

/*-------------- close btn -------------------------*/

.close-page-btn {
  user-select: none;
  cursor: pointer;
  grid-column: -2 / -1;
  background-color: transparent;
  font-size: 80px;
  font-weight: 200;
  border: none;
  line-height: 100px;
  text-align: right;
  position: sticky;
  color: black;

  /* hover for desctop */
  @media (min-width: 1200px) {
    &:hover {
      font-size: 70px;
    }
  }
  &:active {
    font-size: 70px;
  }
}

.close-page-btn {
  @media (max-width: 1056px) {
    position: relative;
    top: 0;
    right: 0;
    grid-column: span 2/ -1;
    font-size: 50px;

    &:active {
      font-size: 40px;
    }
  }
  @media (max-width: 500px) {
    font-size: 40px;
    padding: 0;
    margin: 0;

    &:active {
      font-size: 30px;
    }
  }
}

/*-----------------HTML-------------------*/

html {
  @media (max-width: 535px) {
    font-size: 0.9px;
  }
  @media (max-width: 370px) {
    font-size: 0.8px;
  }
}
