@import "./extends";
.pizza {
  flex: 1fr;
  margin-bottom: 80px;
  &_fixed {
    height: 100vw;
    overflow: hidden;
  }
}
.div {
  position: relative;
  margin-top: 4vw;
}

.div__ {
  &capture {
    grid-column: 1/-1;

    text-align: center;
  }
  &items {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap-reverse;
    // row-gap: 10%;
    column-gap: 2.5%;
    // height: 800px;
    .card {
      flex: 1;
      flex-wrap: wrap;
      &__img-wrap {
        height: calc(100% - 32rem);
      }
    }
    &-5 {
      display: contents;

      & figure {
        grid-column: span 3;
      }
      & figure:first-child {
        grid-row: 2 / span 2;
        grid-column: 1 / span 6;
      }
    }
  }

  /*@@@@@@@@@@@@@@@@@@@@@ BREACK POINT VIEW @@@@@@@@@@@@@@@*/

  @media (max-width: 600px) {
    &items {
      &-5 {
        display: flex;
      }
      .card {
        min-width: 40%;
      }
    }
  }
  @media (max-width: 320px) {
    &items {
      .card {
        min-width: 80%;
      }
    }
  }
}
