.footer {
  background-color: orange;
  padding-top: 5vh;
  padding-bottom: 10vh;
  grid-column: 1/-1;
  margin-bottom: 0;

  &__logo {
    width: 100%;
    grid-column: 1 / span 3;
    cursor: pointer;
  }
  ul {
    padding-left: 0px;
  }
  ul li {
    list-style: none;
    margin-bottom: 15px;
  }
  /* hover for desctop */
  @media (min-width: 1200px) {
    a li:hover {
      margin-left: 2px;
    }
  }
  &__menu {
    grid-column: 5 / span 2;
  }

  &__login,
  &__about {
    grid-column: span 2;
  }
  &__contacts {
    grid-column: span 2/-1;
    p {
      text-align: right;
    }
  }
  &__social-net {
    display: flex;
    justify-content: flex-end;

    img {
      margin-top: 20px;
      margin-left: 20px;
      height: 25px;
    }
  }
  &__phone {
    font-size: 18rem;
  }

  /*@@@@@@@@@@@@@@@@@@@@@ BREACK POINT VIEW @@@@@@@@@@@@@@@*/

  @media (max-width: 910px) {
    &__logo {
      grid-column: span 2;
    }
    &__menu {
      grid-column: 4 / span 2;
    }
    &__contacts {
      grid-column: span 3/ -1;
    }
  }
  @media (max-width: 844px) {
    &__logo {
      display: none;
    }
    &__menu,
    &__login,
    &__about {
      grid-column: span 3;
    }
  }
  @media (max-width: 574px) {
    &__phone {
      font-size: 16rem;
    }
  }

  @media (max-width: 459px) {
    &__menu,
    &__login,
    &__about {
      text-align: center;
      grid-column: span 4;
    }
    &__contacts {
      grid-column: 1/-1;
      display: flex;
      margin-top: 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__social-net img {
      margin: 0;
      margin-right: 20px;
      margin-top: 10px;
    }

    &__contacts-para p {
      text-align: center;
    }
  }
}
