@import "./extends";

* {
  margin: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}
ul {
  padding-inline-start: 0px;
}

.header {
  position: fixed;
  z-index: 2000;
  width: 100%;
  top: 0;
  left: 0;

  &__bcg {
    background-image: url(../../public/assets/texture.png);
    width: 100%;
    height: 40px;
    background-color: rgb(146, 146, 146);
    position: absolute;
    z-index: -100;
  }

  /* ----------------------NAVIGATION WRAPPER----------------------------------*/
  &__nav {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    a {
      color: black;
      text-decoration: none;
      flex: 1;
      &:hover,
      &active {
        color: black;
      }
    }
  }

  /* ----------------------LEFT----------------------------------*/
  &__logo {
    font-family: Fjalla One;
    font-size: 25px;
    flex: 1;
  }
  /* ----------------------CENTER----------------------------------*/
  &__center-nav {
    flex: 1;
    column-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__center-nav a li {
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
  &__delivery-btn,
  &__menu-btn {
    font-size: 16px;
    margin-right: 10px;
  }
  &__search-wrap {
    display: flex;
    @media (max-width: 930px) {
      display: none;
    }
  }
  &__search {
    appearance: none;
    height: 25px;
    border: 1px solid rgb(133, 133, 133);
    background-color: transparent;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 13px;
  }
  &__search:focus {
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
  }
  &__search-btn {
    display: inline-block;
    margin-left: -1px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 0;
    height: 25px;
    width: 30px;
    padding: 3px;
    background-color: transparent;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  &__search-wrap {
    position: relative;
  }
  &__delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    height: 25px;
    width: 30px;
    font-size: 15px;

    border: 1px solid rgb(0, 0, 0);
  }

  /* ----------------------RIGHT----------------------------------*/
  &__right-nav {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: end;
  }
  &__right-nav li button {
    height: 40px;
    line-height: 0px;
    width: 50px;
    margin-left: -1px;
    border: none;
  }
  &__person {
    background-color: transparent;
    margin-right: 2px;
  }
  &__total {
    line-height: 40px;
    margin-right: 15px;
    font-size: 14px;
  }

  &__cart-btn {
    cursor: pointer;
    background-color: black;
    position: relative;
  }
}
