* {
  margin: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

.header {
  grid-column: 1/-1;
  &__bcg {
    background-image: url(../public/assets/texture.png);
    width: 100%;
    height: 40px;
    background-color: rgb(146, 146, 146);
    position: absolute;
    z-index: -100;
  }

  /* ----------------------NAVIGATION WRAPPER----------------------------------*/
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    height: 40px;
  }
  /* ----------------------LEFT----------------------------------*/
  &__logo {
    font-family: Fjalla One;
    font-size: 25px;
  }
  /* ----------------------CENTER----------------------------------*/
  &__center-nav li {
    display: inline-block;
  }
  &__delivery-btn,
  &__menu-btn {
    font-size: 13px;
    margin-right: 10px;
  }
  &__search-wrap {
    display: flex;
  }
  &__search {
    appearance: none;
    height: 25px;
    border: 1px solid rgb(133, 133, 133);
    background-color: transparent;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 13px;
  }
  &__search:focus {
    border: 1px solid rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
  }
  &__search-btn {
    display: inline-block;
    margin-left: -1px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 0;
    height: 25px;
    width: 30px;
    padding: 3px;
    background-color: transparent;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  &__search-wrap {
    position: relative;
  }
  &__delete-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    height: 25px;
    width: 30px;
    font-size: 15px;

    border: 1px solid rgb(0, 0, 0);
  }

  /* ----------------------RIGHT----------------------------------*/
  &__right-nav {
    list-style: none;
    display: flex;
  }
  &__right-nav li button {
    height: 40px;
    line-height: 0px;
    width: 50px;
    margin-left: -1px;
    border: none;
  }
  &__person {
    background-color: transparent;
    margin-right: 2px;
  }
  &__cart {
    background-color: black;
  }
}
